{% load static i18n %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}SMXAPPS{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

<body>
<div>
    {% block subect %}
    {{ subject }}
    {% endblock %}
    
    {% block content %}
    <p>{{ text_content }}</p>
    {% endblock %}
</div>
</body>
</html>